.reg-group, .main-content {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.dialogue-input {
    margin-bottom: 10%;
    /* margin-top: 10%; */
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}